body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "Dosis",Helvetica,Arial,sans-serif;
}

.slick-slide img {
	width: 100%;
}

.navbar-logo {
	max-height: 46px;
	display: inline;
}

.navbar-logo:nth-child(2) {
	float:right;
	padding-left: 15px;
}
.navbar-logo:nth-child(1) {
	float:left;
}

.navbar-brand {
	padding: 7px 0 7px 14%;
}

.navbar-toggle {
	margin-top: 4px;
	margin-bottom: 4px;
}

.nav li a {
	font-size: 1.3em;
	letter-spacing: 
}

@media (max-width: 767px) {
	.navbar-header {
		height: 60px;
	}
	.navbar-toggle {
		margin-top: 13px;
		margin-bottom: 13px;
	}
}

.main-header {
	padding-bottom: 20px;
	background: linear-gradient(180deg, #fff, transparent 800%),
							linear-gradient(270deg, #fff, transparent 20%),
							#fff url("../images/searchlights.svg") no-repeat right;
	background-size: auto;
}

#desktop-title-apex, #desktop-title-theatres {
	opacity: .8;
}

#desktop-title-apex {
	margin-left: 18%;
	max-width: 28%;
	z-index: 1;
}

#desktop-title-theatres {
	margin-right: 28%;
	max-width: 25.6%;
	z-index: 2;
}

.main-header div > h2 {
	margin-left: 18%;
}

.synops div p {
	font-size: 1.5em;
}







