/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********** End CSS Reset ***********/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.mainHeader {
    background-color: #46464A;
    max-width: 100%;
    height: 165px;
}

.title {
    font-size: 5em;
    color: #E2EaF0;
    padding-top: 65px;
    text-align: center;
    font-weight: 600;
}

.primaryNav {
    height: auto;
    text-align: center;
    border-bottom: 2px solid #46464A;
    background-color: #E2E4F0;
}

.primaryNav li {
    display: inline-block;
    padding: 10px 10px 6px 6px;
}

.primaryNav li :link, li :visited {
    text-decoration: none;
    color: #2E2E30;
}

.primaryNav li:nth-child(6) {
    padding-right: none;
}

.primaryNav li:nth-last-child(n+2) {
    border-right: 1px solid #46464A;
}




































